html{
    font-size: 100%;
}

body{
    /* The default font size will be 10 pixels with the default web browser font size setting*/
    font: 0.625em/1em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.map {
    position: absolute;
    width: 80%;
    height: 95%;
    top: 3px;
}

.sideBar{
	position: fixed;
    left: 81%;
    top: 3px;
    width: 20%;
    height: 95%;
    background-color: #ccc;
    border: 3px solid black;
}

.sideBar > * { /* all child elements of sidebar */
    padding-left: 1em;
}

.ping{
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
    stroke-opacity: 1;
}

input, label {
   display:block;
}

#slider {
  margin-left:10px;
}

#zoomChosen, #panChosen {
    border-radius :10px;
    width:45px ;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    margin-left: 40px;
}

.checkbox {
    float: left;
    vertical-align: top;
}

#obama{
    color:red;
}

.user-button {
    width: 40px;
    height: 40px;
    border-style: solid;
}

.exploration-button {
    width: 40px; 
    height: 40px;
    border: 0px ;
}

.location-pane {
    /*background-color: rgb(0,150,150);*/
}

/* Annotation stuff */
#delete-button {
    width: 10px;
    height: 10px;
}

.annotation-row {
    /*display: table-row;*/
    padding: 5px; 
}

.annotation-inner-container {
    display: inline-block;
}

.annotation-text-container {
    width: 80%;
    /*overflow: hidden;*/
}

.annotation-controls {
    /*min-width: 30%;*/
    padding-right: 20px;
    float: right;
}

.annotation-text {
    font-size: 14px;
    display: inline;
}

.annotation-content {
    color: red;    
}

.annotation-info {
    color: black;
}

/* Mini-map */
#minimap {
	background-color: #ccc;
	border: 3px solid rgb(0,0, 1);
	position: fixed;
	left : 1370px;
	top: 800px;
	width: 339px;
	height: 200px;

}
#minimap-div {
	overflow: hidden;
	margin: 1px left;
	max-width: 339px;
	max-height: 200px;
}
#minimap-iframe{
	border: 0px none;
	margin-left: -185px;
	height: 859px;
	margin-top: -533px;
	width: 926px;
}