html{
    font-size: 100%;
}

body{
    /* The default font size will be 10 pixels with the default web browser font size setting*/
    font: 0.625em/1em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.map {
  position: absolute;
  width: 80%;
  height: 95%;
  top: 3px;
}

.sideBar{
	position: fixed;
    left: 81%;
    top: 3px;
    width: 20%;
    height: 95%;
    background-color: #ccc;
    border: 3px solid black;
}

.location-pane {
    background-color: yellow;
}

.tab{
    font-size:13px;
    background-color: #EEEEEE;
    color: #333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

#pick-city {
    display: inline-block;
}

#path-controls {
    display: inline-block;
}

.ping{
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
    stroke-opacity: 1;
}

input, label {
   display:block;
}

#slider {
  margin-left:10px;
}

#zoomChosen, #panChosen {
  border-radius:10px;
  width:45px;
  padding-top:10px; padding-bottom:10px;
  text-align:center;
  color:#000000;
  font-weight:bold;
  font-size: 1em;
  margin-left:40px;
}

.checkbox {
  float: left;
  vertical-align: top;
}

#annotation-input-container {

}
#annotation-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100
}
#obama{
	color:red;
}

#minimap {
	background-color: #ccc;
	border: 3px solid rgb(0,0, 1);
	position: fixed;
	left : 1370px;
	top: 800px;
	width: 339px;
	height: 200px;

}
#minimap-div {
	overflow: hidden;
	margin: 1px left;
	max-width: 339px;
	max-height: 200px;
}
#minimap-iframe{
	border: 0px none;
	margin-left: -185px;
	height: 859px;
	margin-top: -533px;
	width: 926px;
}